useDynLib(jointGHS, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom("grDevices", "dev.new")
importFrom("graphics", "points")
importFrom("stats", "cov2cor", "quantile")
importFrom("utils", "combn")
export(jointGHS)
importFrom(foreach,"%dopar%")
